<div class="container">

  <h1 class="container__title">Services</h1>

  <div 
    [ngClass]="{'container__service--selected': indexes.includes(i)}"
    class="container__service"
    *ngFor="let service of services; let i = index;"
    (click)="handleClick(i, service.price)"
  >
    <span class="service__name">{{service.name}}</span>
    <span class="service__price">{{ service.price | currency:'USD' }}</span>
  </div>

  <div class="container__total">
    <span>Total:</span>
    <span>{{ total | currency:'USD' }}</span>
  </div>

</div>