@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10vh;
  padding: 20px;
  align-items: center;
  gap: 10px;
  width: 500px;
  color: rgb(233, 227, 227);
  font-size: 1.5rem;
}

.container__title {
  font-family: 'Rubik Iso', cursive;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.container__service {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgb(184, 76, 121);
  padding: 20px;
  width: 100%;
  &:hover {
    opacity: 0.7;
  }
  &--selected{
    background-color: rgb(65, 116, 65);
  }
}

.container__total {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  border-top: 1px solid rgb(233, 227, 227);
}