/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: rgb(84, 131, 153);
}